.container {
    
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    & h1 {
        margin-bottom: 20px;
    }
}

.productList {
    background-color: rgba(38, 11, 214, 0.242);
    width: 100%;
    padding: 10px;
}

.productItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    background-color: rgba(59, 63, 110, 0.808);
    & button{
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: rgba(234, 250, 4, 0.892);
        padding: 10px;
        border-radius: 20px;
        color: white;
        font-size: 1rem;
    }
    .eliminar {
        &:hover {
        background-color: rgba(3, 198, 58, 0.642);
        }
    } 
}

.cajaConImagen {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cantidad {
    font-size: 1.6rem;
}