.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    height: 75vmin;
    color: rgb(37, 0, 110);
}
