.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    align-items: center;
        width: 100%;
    color: black;
    height: 150px;
}


.ul{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.span{
    margin-top: 20px;
}