:root {
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
  background-image: url("/img/background.jpg");
  background-position: 50%;
  background-size: contain;
  /* background-repeat: no-repeat; */
}